---
---

@import "{{ site.theme }}";

header h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 50px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

header h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.5;
  color: #9ddcff;
  letter-spacing: 0;
}

header h3 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: normal;
  line-height: 2.0;
  color: #9ddcff;
  letter-spacing: 0;
}
